body {
    background: rgb(233, 231, 231);

}
nav {
    background-color:grey;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
}
.logo {
    align-self: center;
    margin: 0 0 0 5%;
    font-size: 24px;
    font-weight: 10000;
}
ul {
   display: flex;
   height: 100%;
   width: 25%;
   align-items: center; 
   justify-content: space-around;
}
header {
    background-color:black;
    width: 100vw;
    height: 40vh;
    display: flex;
    color: yellow;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
main {
    background-color: whitesmoke;
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
}
.green-container{
    width: 100%;
    height: 30%;
    margin: 0;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.green-boxes {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-radius: 10%;
}
.orange-container {
    width: 100%;
    height: 30%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.orange-boxes {
    background-color: goldenrod;
    height: 200px;
    width: 400px;
}
.the-bottom-bit {
    display: flex;
    height: 40%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 100px;
    justify-content: space-around;
}
.p {
    margin: 0 20px 0 0;
}
img {
    margin: 0 0 0 20px;
}
footer {
    background-color: rgb(52, 52, 102);
    width: 100vw;
    height: 20vh;
    margin: 0;
}
